<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="full">
      <div class="product-main">
        <div class="product">
          <div class="card border">
            <div class="card-image">🍬</div>
            <div class="card-bottom">
              <p class="card-description">
                Description:Candy, also called sweets (British English) or
                lollies (Australian English, New Zealand English),[a] is a
                confection that features sugar as a principal ingredient.
              </p>
              <p class="card-price">Price:12$</p>
              <p class="card-buyed">Buyed:12</p>
              <p class="card-category">Category:chocolate</p>
            </div>
            <div class="card-b">
              <div class="card-buy">
                <a href="#">
                  <button class="buy">Buy</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="oxshash">
        <div class="card border">
          <div class="card-image">🍬</div>
          <div class="card-bottom">
            <p class="card-price">Price:12$</p>
            <p class="card-buyed">Buyed:12</p>
            <p class="card-category">Category:chocolate</p>
          </div>
          <div class="card-b">
            <div class="card-buy">
              <a href="#">
                <button class="buy">Buy</button>
              </a>
            </div>
          </div>
        </div>
        <div class="card border">
          <div class="card-image">🍬</div>
          <div class="card-bottom">
            <p class="card-price">Price:12$</p>
            <p class="card-buyed">Buyed:12</p>
            <p class="card-category">Category:chocolate</p>
          </div>
          <div class="card-b">
            <div class="card-buy">
              <a href="#">
                <button class="buy">Buy</button>
              </a>
            </div>
          </div>
        </div>
        <div class="card border">
          <div class="card-image">🍬</div>
          <div class="card-bottom">
            <p class="card-price">Price:12$</p>
            <p class="card-buyed">Buyed:12</p>
            <p class="card-category">Category:chocolate</p>
          </div>
          <div class="card-b">
            <div class="card-buy">
              <a href="#">
                <button class="buy">Buy</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
